<h1>Sign Up Page</h1>

{{#if message }}
    <code>{{message}}</code>
{{/if}}

<p id="error"></p>
<form method="POST" action="/signup">
    <label>
        username <input type="text" id="username" name="username"/>
    </label><br/>
    <label>
        password <input type="password" id="password" name="password"/>
    </label><br/>
    <label>
        password confirm <input type="password" id="passwordConfirm" name="passwordConfirm"/>
    </label>
    <input type="hidden" name="_csrf" id="_csrf" value="{{ csrf }}"/>
    <button id="submit">Sign Me Up</button>
</form>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    /**
    $(function(){
        $("#submit").on('click', function(e){
            var username = $("#username").val();
            var password = $("#password").val();
            var passwordConfirm = $("#password-confirm").val();
            var csrf = "{{ csrf }}";

            $.ajax({
                type: "POST",
                url: "/signup",
                data: {
                    username: username,
                    password: password,
                    passwordConfirm: passwordConfirm,
                    _csrf: csrf
                },
                success: function(res) {
                    console.log(res);
                    window.location.replace('/?signup=success');
                },
                error: function(res) {
                    console.log(res);

                }
            });
            e.preventDefault();
        });
    });**/
</script>