body {
	background-image: url('images/back.png');
	font-size: 10px;
	font-family: "Roboto", Arial, sans-serif;
}
div {
	cursor: default;
}
h5 {
	color: white;
	font-size: 30px;
	font-family:"Roboto Slab", sans-serif;
	font-weight: normal;
	padding-left: 15px;
	padding-top: 10px;
	margin: 0px;
}
h6 {
	color: white;
	font-size: 18px;
	padding: 10px;
	margin: 0px;
}
b{
	font-weight: bolder;
}
.no-close .ui-dialog-titlebar-close {
	display: none;
}
.sidebar {
	background-color: #202020;
	height: 99.9%;
	width: 19%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.hide {
	position: absolute;
	padding: 5px;
	right: 0;
	z-index 2;
	text-align: center;
}
.show {
	font-size: 16px;
	font-family:"Roboto", sans-serif;
	width: auto;
	background: white;
	color: black;
	padding: 10px;
	padding-left: 35px;
	position: absolute;
	left: -15px;
	margin: 0px;
	border-radius: 10px;
}
.show:hover {
	background-color: #B20000;
	color: white;
}
.button-text{
	padding:15px;
	margin: 0px;
}
#container {
	border: solid 0px;
}
#conversation, #moves, .content-box {
	padding: 2%;
	width: 88%;
	height: 80%;
	overflow: auto;
	margin: 10px;
	background: #E4E4E4;
	color: black;
	font-size: 13px;
	font-family:"Roboto", sans-serif;
}
#data {
	width:90%;
	margin: 10px;
	font-family:"Roboto", sans-serif;
}
#show-chat {
	top: 15px;
}
#show-hints {
	top: 65px;
}
#show-log {
	top: 115px;
}
#room-full{
	font-size: 14px;
}

#loading {
	font-size: 20px;
	font-family:"Roboto Slab", sans-serif
}
#name-input {
	font-size: 15px;
}
.right-bar{
	position: absolute;
	right: 0;
	top: 0;
	width: 16%;
	height: 100%;
	text-align: center;
}
.content:{
	color: white;
}
.wrapper{
	position: absolute;
	top:0;
	bottom:0;
	margin: auto;
	height: 50%;
}
#message {
	font-family:"Roboto", sans-serif;
	background: rgba(52, 73, 94, 0.4);
	position: relative;
	padding: 10%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#ready {
	margin-top: 15px;
	text-align: center;
	background: #d35400;
	border: double 4px black;
}
#ready:hover{
	background: #e67e22;
}
